/* @import 'base.css'; */

.component-container {
    background: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;    
    padding: 1rem;
    width: 100%;
    text-align: center;
}

a {
    text-align: center;
    color: var(--brown);
    padding: .25rem;
}
a:hover {
    color: var(--beige);
    background: var(--brown);
    border-radius: .25rem;
    text-decoration: none;
}

input {
    min-height: 4rem;    
    width: 100%;
    margin-bottom: 2rem !important;
    
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
}